.el-tooltip__popper {
  box-shadow: var(--box-shadow-3);
  font-size: var(--font-size-6);

  &.is-light {
    color: var(--gray-9);
    background-color: var(--white);
    border-radius: var(--border-radius-2);
    padding: var(--spacing-medium);

    &:not(.el-dropdown__popper):not(.taro-dropdown):not(.el-popover) {
      border-color: var(--gray-9);

      &[data-popper-placement='bottom-end'],
      &[data-popper-placement='bottom-start'],
      &[data-popper-placement='bottom'] {
        & .el-popper__arrow {
          &:before {
            border-top-color: var(--gray-9);
            border-left-color: var(--gray-9);
          }
        }
      }

      &[data-popper-placement='top-end'],
      &[data-popper-placement='top-start'],
      &[data-popper-placement='top'] {
        & .el-popper__arrow {
          &:before {
            border-bottom-color: var(--gray-9);
            border-right-color: var(--gray-9);
          }
        }
      }

      &[data-popper-placement='right-end'],
      &[data-popper-placement='right-start'],
      &[data-popper-placement='right'] {
        & .el-popper__arrow {
          &:before {
            border-left-color: var(--gray-9);
            border-bottom-color: var(--gray-9);
          }
        }
      }

      &[data-popper-placement='left-end'],
      &[data-popper-placement='left-start'],
      &[data-popper-placement='left'] {
        & .el-popper__arrow {
          &:before {
            border-right-color: var(--gray-9);
            border-top-color: var(--gray-9);
          }
        }
      }
    }
  }

  &.is-dark {
    color: var(--white);
    background-color: var(--gray-10);
    box-shadow: none;
    border-radius: var(--border-radius-2);
    padding: var(--spacing-medium);

    & .el-popper__arrow::before {
      background: var(--gray-10);
    }

    &:not(.el-dropdown__popper):not(.taro-dropdown) {
      border-color: var(--gray-10);

      &[data-popper-placement='bottom-end'],
      &[data-popper-placement='bottom-start'],
      &[data-popper-placement='bottom'] {
        & .el-popper__arrow {
          &:before {
            border-top-color: var(--gray-10);
            border-left-color: var(--gray-10);
          }
        }
      }

      &[data-popper-placement='top-end'],
      &[data-popper-placement='top-start'],
      &[data-popper-placement='top'] {
        & .el-popper__arrow {
          &:before {
            border-bottom-color: var(--gray-10);
            border-right-color: var(--gray-10);
          }
        }
      }

      &[data-popper-placement='right-end'],
      &[data-popper-placement='right-start'],
      &[data-popper-placement='right'] {
        & .el-popper__arrow {
          &:before {
            border-left-color: var(--gray-10);
            border-bottom-color: var(--gray-10);
          }
        }
      }

      &[data-popper-placement='left-end'],
      &[data-popper-placement='left-start'],
      &[data-popper-placement='left'] {
        & .el-popper__arrow {
          &:before {
            border-right-color: var(--gray-10);
            border-top-color: var(--gray-10);
          }
        }
      }
    }
  }

  &.is-pure {
    padding: 0 !important;
  }
}

.v-tooltip {
  @extend .el-popper;

  position: absolute;
  left: -1000px;
  transition: opacity 200ms linear;
  opacity: 0;
  max-width: 250px;
  line-height: 1.5;
  max-height: 45vh;
  padding-right: 0;
  box-shadow: var(--box-shadow-2);

  .tooltip__inner {
    overflow: hidden auto;

    &::-webkit-scrollbar {
      width: 6px;
    }

    &::-webkit-scrollbar-thumb {
      background: var(--gray-6);
      border-radius: 100px;
    }

    &::-webkit-scrollbar-track {
      background: transparent;
    }
  }
}

.el-popper {
  &.hide-arrow {
    .el-popper__arrow {
      display: none;
    }

    & > * {
      margin: 0;
    }
  }
}

.el-dropdown__popper {
  border-radius: var(--border-radius-4);
  box-shadow: var(--box-shadow-3);
  border: 1px solid var(--gray-3);

  & .el-scrollbar__wrap {
    border-radius: var(--border-radius-4);
  }
}
